.card {
  margin: 0 auto;
  inline-size: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 12.5rem;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card-content {
  inline-size: 32rem;
  margin: 0 auto;
  position: relative;
}

.card .img {
  inline-size: 31.25rem;
}

.card .img img {
  inline-size: 100%;
}

.card-content a {
  font: var(--button);
  color: var(--accent);
  text-decoration: none;
}

.card-number {
  position: absolute;
  top: -5rem;
  left: -6rem;
  font-size: 13rem;
  line-height: 13rem;
  font-weight: bold;
  opacity: 0.1;
}

.card-title::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 5rem;
  block-size: 1px;
  background: var(--accent);
}
.card-title {
  font: var(--headline2);
  margin: 0;
  padding-block: 1.8rem;
  position: relative;
}

.card-description {
  font: var(--body1Regular);
  margin: 0;
  margin-block-end: 1.8rem;

}

.card img {
  vertical-align: middle;
}