@import './hero-content.css';
@import './hero-degraded.css';

.hero {
  block-size: 83rem;
  padding-block-start: 2.5rem;
  /* border: 1px solid red; */
  background-image: url('../img/hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}